
<img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/water.gif?v=1597902677" class="w-100 mt-sm-5">

<div class="container-fluid ap-ocean-section position-relative overFlowHidden">
  <div class="container">
    <div class="row ap_space_MB ap-animate-01">

      <div class="col-12 pRelInd">
        <h3 class="ap-ocean-hdngs">
          Let’s take a dive into our oceans today
        </h3>
      </div>        

      <div class="col-md-12 pRelInd">
        <div class="inner">
          <ul class="ap-ocean-list">
            <li class="ap-show-list">
              <p>
                We eat, drink, and breathe plastic 
              </p>
            </li>
            <li class="ap-show-list">
              <p>
                The fashion industry is the top environmental polluter
              </p>
            </li>
            <li class="ap-show-list">
              <p>
                Every year the average person throws away 80lbs of clothing 
              </p>
            </li>
            <li class="ap-show-list">
              <p>
                In total there are 8 billion + tons of plastic on our planet
              </p>
            </li>
          </ul>
        </div>
      </div>


      <!-- animate items ---->

      <!--       <div id="turtle_wrapper"> -->
      <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/turtle.gif?v=1597909080" class="ap-turtle position-absolute">
      <!--       </div> -->


      <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/water-bottle.webp?v=1597909078" class="animate-item-01 position-absolute">

      <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/water-bottle.webp?v=1597909078" class="animate-item-02 position-absolute">

      <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/soda-can.webp?v=1597909078" class="animate-item-03 position-absolute">

      <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/plastic-bag.webp?v=1597909079" class="animate-item-04 position-absolute">

      <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/water-bottle.webp?v=1597909078" class="animate-item-05 position-absolute">

      <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/plastic-bag.webp?v=1597909079" class="animate-item-06 position-absolute">

      <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/water-bottle.webp?v=1597909078" class="animate-item-07 position-absolute">

      <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/toothpastetube-1.webp?v=1597909073" class="animate-item-08 position-absolute">

      <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/thank-you-bag.webp?v=1597909079" class="animate-item-09 position-absolute">

      <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/thank-you-bag.webp?v=1597909079" class="animate-item-10 position-absolute">

      <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/water-bottle.webp?v=1597909078" class="animate-item-11 position-absolute">

      <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/soda-can.webp?v=1597909078" class="animate-item-03 animate-item-12 position-absolute">


    </div>


    <div class="row ap_space_MT ap-animate-02">

      <div class="col-12 pRelInd">
        
        <h2 class="ap_counter_new">55 Metric Tons</h2>
        
        
<!--         <div class="counter-items" id="unique-id">
          <div id="myTargetElement" class="item">
            <h2 class="counter" data-value="100000">55 Metric Ton</h2>
          </div>
        </div> -->
        <h3 class="ap-ocean-hdngs mt-0 mb-5">
          Of Microfibers being released into our waterways every year
        </h3>
        <h5 class="ap-ocean-hdngs mt-4"><a href="https://advances.sciencemag.org/content/6/23/eaay8493.full#:~:text=In%20this%20regard%2C%20between%2018,enter%20the%20ocean%20every%20year">{ScienceAdvances}</a></h5>
        <h5 class="ap-ocean-hdngs">Let's take a deeper dive into our future</h5>
      </div> 


      <div class="col-md-12 pRelInd">
        <div class="inner">
          <ul class="ap-ocean-list">
            <li class="ap-show-list">
              <p>
                Reduce the amount of deaths from wastewater by cleaning up our waterways
              </p>
            </li>

            <li class="ap-show-list">
              <p>
                Increase the amount of marine life by using less/no plastic
              </p>
            </li>

            <li class="ap-show-list">
              <p>
                Eliminate synthetic fabrics by continuously innovating and testing new natural fibers
              </p>
            </li>

            <li class="ap-show-list">
              <p>
                Remove all plastic packaging that isn’t recycled or reused
              </p>
            </li>
          </ul>
        </div>

      </div>


<!--       <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/thank-you-bag.webp?v=1597909079" class="animate-item-05 position-absolute"> -->

      <!--       <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/toothpastetube-1.webp?v=1597909073" class="animate-item-08 position-absolute"> -->

      <!--       <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/thank-you-bag.webp?v=1597909079" class="animate-item-10 position-absolute"> -->

<!--       <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/water-bottle.webp?v=1597909078" class="animate-item-11 position-absolute"> -->
    </div>

<!--     <div class="row">
      <div class="col-12">
        <div class="counter-items" id="unique-id-01">
          <div id="myTargetElementNew" class="item">
            <h2 class="counter" data-value="150000"></h2>
            <h3 class="ap-ocean-hdngs my-0">People implementing sustainable practices into their daily lives</h3>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/tortoise.gif?v=1598008917" class="ap-turtle-01">

  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/animatedgoldfish-36.gif?v=1598010416" class="ap-fish-01">

  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/stingray.gif?v=1598008917" class="ap-fish-02">

  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/animated-fish-image-0412.gif?v=1598264127" class="ap-fish-05">

  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/clownfishanimation-28.gif?v=1598264129" class="ap-fish-03">

  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/animated-fish-image-0412.gif?v=1598264127" class="ap-fish-04">

  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/neontetraanimated-41.gif?v=1598264128" class="ap-fish-06">

  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/neontetraanimated-41.gif?v=1598264128" class="ap-fish-07">

  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/discusfishanimation-31.gif?v=1598264129" class="ap-fish-08">

  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/animated-fish-image-0002.gif?v=1598264126" class="ap-fish-09">

  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/animated-fish-image-0002.gif?v=1598264126" class="ap-fish-11">

  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/turtle.gif?v=1597909080" class="ap-turtle-invisible position-absolute">

<!--   <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/animatedtigerfish-45.gif?v=1598264127"class="ap-fish-12"> -->

  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/animatedtigerfish-45.gif?v=1598264127" class="ap-cl-fish-01">

  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/animatedtigerfish-45.gif?v=1598264127" class="ap-cl-fish-02">

  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/animatedtigerfish-45.gif?v=1598264127" class="ap-cl-fish-03">

  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/animatedtigerfish-45.gif?v=1598264127" class="ap-cl-fish-04">

  <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/animatedtigerfish-45.gif?v=1598264127" class="ap-cl-fish-05">

  <!--     <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/animatedtigerfish-45.gif?v=1598264127" class="ap-cl-fish-06"> -->



</div>



{% schema %}
{
"name": "Section name",
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>

<script src="https://cdn.jsdelivr.net/countupjs/1.8.5/countUp.min.js"></script>


<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script> -->

<script>

  var controller = new ScrollMagic.Controller();

  var revealElements = document.getElementsByClassName("ap-show-list");
  for (var i=0; i<revealElements.length; i++) { // create a scene for each element
    new ScrollMagic.Scene({
      triggerElement: revealElements[i], // y value not modified, so we can use element as trigger as well
      offset: 50,												 // start a little later
      triggerHook: 0.9,
    })
    .setClassToggle(revealElements[i], "ap_show") // add class toggle
    //       .addIndicators({name: "digit " + (i+1) }) // add indicators (requires plugin)
    .addTo(controller);
  }



  /**** ticking number ****/

  var options = {
    useEasing: true, 
    useGrouping: true, 
    separator: ',', 
    decimal: '.', 
  };

  var counterParent = document.getElementById('unique-id');
  var children = counterParent.children;

  function countStart(){
    $('#unique-id').addClass('active');
    for (var i = 0; i < children.length; i++) {
      var item = document.getElementById(children[i].id).querySelector('.counter');
      var countValue = item.getAttribute('data-value');

      var countUP = new CountUp(item, 0, countValue, 0, 6000, options);
      if (!countUP.error) {
        countUP.start();
      }
    }
  }


  var a = 0;
  $(window).scroll(function() {

    var oTop = $('#unique-id').offset().top - window.innerHeight;
    if (a == 0 && $(window).scrollTop() > oTop) {

      countStart();

      a = 1;

    }
  })

  var options = {
    useEasing: true, 
    useGrouping: true, 
    separator: ',', 
    decimal: '.', 
  };

  var counterParentNew = document.getElementById('unique-id-01');
  var childrenNew = counterParentNew.children;

  function countStartNew(){
    $('#unique-id-01').addClass('active');
    for (var i = 0; i < childrenNew.length; i++) {
      var item = document.getElementById(childrenNew[i].id).querySelector('.counter');
      var countValue = item.getAttribute('data-value');

      var countUP = new CountUp(item, 0, countValue, 0, 6000, options);
      if (!countUP.error) {
        countUP.start();
      }
    }
  }



  var b = 0;
  $(window).scroll(function() {

    var oTopNew = $('#unique-id-01').offset().top - window.innerHeight;
    if (b == 0 && $(window).scrollTop() > oTopNew) {
      // $('.counter-value').each(function() {
      countStartNew();
      // })

      b = 1;
    }


  })




</script>
