<div class="container-fluid ap-banner-faq p-0">
    <div class="row">
      <div class="col-12 text-center ap-banner-height">
        <img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/SIZE_CHART_2.jpg?v=1610350856" class="w-100">
      </div>
  </div>
</div>
<div class="container">
<img src="https://cdn.shopify.com/s/files/1/0457/8698/8697/files/size_6-01.png?v=1610442929" alt="" class="w-100" />
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
