<h1 class="page-title mt-5 d-none">{{ page.title }}</h1>
<div class="rte d-none">
  {{ page.content }}
</div>

{% section 'ap-fabric-section-01' %}
{% section 'ap-fabric-section' %}
{% section 'ap-silkstrch-section-01' %}
{% section 'ap-silkstrch-02' %}
{% section 'ap-newsletter-section' %}
