{% comment %}
  DO NOT MODIFY MANUALLY
  This asset is generated automatically by Talkable Integration at 3/25/21 4:27PM
{% endcomment %}
<h1 class="page-title mt-5">{{ page.title }}</h1>
<div class="rte">
  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <div id="talkable-offer"></div>
    {% else %}
      {{ 'Log in' | customer_login_link }}
    {% endif %}
  {% endif %}
</div>
