<h1 class="page-title mt-5 d-none">{{ page.title }}</h1>
<div class="rte">
  {{ page.content }}
</div>
{% section 'ap-home-banner' %}
{% section 'ap-home-client-logo' %}
{% section 'home-featured-collection' %}
{% section 'ap-home-text-blocks' %}
{% section 'ap-hoodie-section' %}
{% section 'ap-home-shipping' %}

